@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   background-color: rgb(0, 0, 0);
   padding: 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: 75rem;
    margin: 0 auto;
}
.header {
    background-image: url(undertale-papyrus.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height:80vh ;
    padding:5rem 0;

}

.menu {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    
    color: darkorange;
    font-size: 1.563rem;
    font-weight: 800;
    text-transform: uppercase;

}

.menu .navbar ul li {
position: relative;
float: left;
}
.menu .navbar ul li a {
    font-size: 1.125rem ;
    padding: 1.25rem;
    color: #ffffff;
    font-weight: 600;
    display: block;
}
.menu .navbar ul li a:hover {
    color: darkorange;
}
#menu {
    display: none;
}
.menu-icono {
    width: 1.563rem;
}
.menu label {
    cursor: pointer ;
    display: none;
}

.header-content {
    display: flex;
}

.header-txt {
    flex-basis: 40%;
}
.header-txt h1 {
    font-size: 3.75rem;
    color:rgb(219, 238, 8);
    line-height: 1.3;
    margin-bottom: 1.563rem;
}
.header-txt span {
    color: rgb(219, 238, 8);
}
.header-txt h1 {
    color:rgb(219, 238, 8);
}
.header-txt p {
    font-size: 1.063rem;
    color: #ffdd00;
    margin-bottom: 2.813rem ;
}
 .butons {
    display: flex;
 }
  .btn1, .btn-2, .btn-3 {
    display: inline-block;
    padding: 0.688rem 2.188rem;
    border: 0.125rem solid #ff5a2c;
    border-radius: 1.563rem;
    margin-right: 1.563rem;
    font-size: 1.563rem;
    color: white;
    

  }
 
  
  .btn1:hover {
    background-color: rgb(177, 241, 1);
  }
  .popular {
    padding:6.35rem 0;
    text-align: center;
   
  }
  h2 {
    color: white;
    font-size: 3.188rem;
    margin-bottom:4.813rem ;
  }
  .popular-content {
    display: flex;
    justify-content: space-between;

  
  }
  .popular-content img {
    width:9.37rem;
  }
 
  .product-content img {
display: flex;
justify-content: space-between;
  }
  
  .product-content {
    display: grid;
    grid-template-columns: max-content;
    gap: 9.125rem;
  }
  .product-1 {
    background-image: url(undertale-papyrus.jpg);
    background-color: rgb(42, 15, 68);
    font-size: large;
    
    
 
  }
  aside{
    background-image: url(desktop-wallpaper-fondo-de-pantalla-fondo-de-escritorio-id-798682-videojuego-undertale.jpg)
  }
  .product-txt {
    padding: 2.125rem 1vh ;
  }
  h3 {
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 1.25rem;
  }
  .secundario {
    display: flex;
    justify-content: space-between;
    align-items: safe;
  }
  .secundario p{
    font-size: 1.063rem;
    color: #ff5a2c;
    align-items: safe;
  }
  .btn-2{
    padding: 0.313  1.563;
    background-color: #ff5a2c;
    margin-right: 0;
  }
.contact {
    padding: 9.375rem 18.75rem;

}
.contact-content {
    background-color: #ff5a2c;
    text-align: center;
    padding: 3.125rem;
    border-radius: 3.125rem ;
}
form {
    display: flex;
    justify-content: center;
    margin-top:1.25rem ;
}
input {
    padding: 1.125rem 1.563rem;
    background-color: rgb(82, 26, 112);
    border: 0;
    border-radius:1.563rem;
    outline: none;
    margin-right:0.625rem;
    color: #ffffff;
    font-size:1.063rem ;
    }
    ::placeholder {
        color: #ffffff;
        font-size:1.063rem ;


    }
    .btn-3 {
        background-color: #ff5a2c;
        cursor: pointer;
        margin-right: 0;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:3.125rem  0rem;
    }
    .link ul {
        display: flex;

    }
     .link ul li > a {
        font-size: 1.063rem;
        color: #ffffff;
        margin-right:1.25rem ;
     }
     .link ul li > a:hover {
        color: #ffffff;
     }
  @media(max-widht:61.938rem){
    .menu {
        padding: 1.25rem;
    }
    .menu label {
        display: initial;

    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fffefe;
        display: none;
    }
    .menu.navbar ul li a:hover{
      color: azure;
    }
   
  }